/***************************/
/*colors*/
/***************************/
$bg-color: #f1f3f5;
$black-color: #000;
$white-color: #fff;
$grey-dark-color: #777;

$Light-green-100: #7ed56f;
$Light-green-80: rgba(126, 213, 111, 0.8);

$Medium-green-100: #55c57a;
$Medium-green-80: hsla(140, 49%, 55%, 0.8);

$Dark-green-100: #28b485;
$Dark-green-80: rgba(40, 180, 133, 0.8);

/***************************/
/*_grid*/
/***************************/
$grid-width: 114rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;
