.grid-test {
  background-color: #c4c1c7;

  min-height: max-content;
  max-width: $grid-width;
  margin: 0 auto;
}
.row {
  // background-color: rgba(204, 204, 25, 0.473);
  max-width: 95%;
  height: max-content;
  padding: 5rem 2rem;
  margin: 0 auto;

  @include respond(tab-port) {
    max-width: 98%;
    padding: 3rem 2rem;
    margin: 0 auto;
    margin-bottom: 5rem;
  }

  @include clearfix;
  [class^='col-'] {
    float: left;
    padding: 1rem;
    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }

    @include respond(tab-port) {
      float: none;
      width: 100% !important;
      margin: 1rem auto;

      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 6rem;
      }
    }
  }

  .col {
    &-1-of-2 {
      // background-color: rgb(138, 74, 180);
      width: calc((100% - #{$gutter-horizontal}) / 2);
    }

    &-1-of-3 {
      // background-color: rgb(78, 165, 161);
      width: calc((100% - 2 *#{$gutter-horizontal}) / 3);
    }

    &-2-of-3 {
      // background-color: rgb(14, 218, 207);
      width: calc(2 * (100% - 2 *#{$gutter-horizontal}) / 3 + #{$gutter-horizontal});
    }

    &-1-of-4 {
      // background-color: rgb(91, 185, 47);
      width: calc((100% - 3 *#{$gutter-horizontal}) / 4);
    }

    &-2-of-4 {
      // background-color: rgb(91, 185, 47);
      width: calc(2 * (100% - 3 *#{$gutter-horizontal}) / 4 + #{$gutter-horizontal});
    }
    &-3-of-4 {
      // background-color: rgb(91, 185, 47);
      width: calc(3 * (100% - 3 *#{$gutter-horizontal}) / 4 + 2 * #{$gutter-horizontal});
    }
  }
}
