.composition {
  // background-color: rgb(30, 112, 160);
  position: relative;
  &__photo {
    width: 55%;
    box-shadow: 0 1rem 2rem rgba(#000, 0.15);
    border-radius: 0.5rem;
    z-index: 1;
    transition: all 0.3s linear;
    outline-offset: 1.5rem;

    &:hover {
      z-index: 2;
      transform: scale(1.2) translateY(-0.5rem);
      outline: 0.5rem solid $Medium-green-100;
    }

    &--p1 {
      position: absolute;
      top: -2rem;
      left: 0;
    }
    &--p2 {
      position: absolute;
      top: 2rem;
      right: 0;
    }
    &--p3 {
      position: absolute;
      top: 10rem;
      right: 20%;
    }
  }
  &:hover &__photo:not(:hover) {
    transform: scale(0.9);
  }
}
