.u-center-text {
  // background-color: #fff;
  width: 100%;
  text-align: center;
}

.u-center {
  margin: 0 auto;
}

.u-mb-lg {
  margin-bottom: 8rem;
}
.u-mt-lg {
  margin-top: 8rem;
}
.u-mb-md {
  margin-bottom: 4rem;
}
.u-mt-md {
  margin-top: 4rem;
}

.u-mb-sm {
  margin-bottom: 1.5rem;
}
.u-mt-sm {
  margin-top: 1.5rem;
}

.wrapper {
  width: 100%;
  text-align: left;
}
